Body {
  background-color: black;
  background: url(../assets/nighttimeBaseballField.jpg);
  background-size: inherit;
}

h1,h2,h3 {
  color: #85bdbe;

}

h3 {
  color: #85bdbe;
  text-align: center;
}
.cardHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.customizedCard {
  max-width: 300px;
  overflow: hidden;
 margin-top: auto;
 border: none !important;

}
